{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid forgot-container album pb-6 bg">
        <div class="row">
            <div class="col-lg-6 col-md-8 forgot-form-1">
                <h3>Récupère ton mot de passe</h3>
                {{ include("security/forgot/_form_forgot.html.twig") }}
            </div>
        </div>
    </div>
{% endblock %}
