{% extends "base.html.twig" %}

{% block title %}Snowtrick / Enregistrement{% endblock %}

{% block body %}

    <div class="container login-container">
        <div class="row">
            <div class="col-md-8 login-form-1">
                <h3>Enregistrement</h3>
                <form>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="Votre email" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Mot de passe" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Créer un mot de passe" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Remttre le mot de passe" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btnSubmitRegister"> Créer un compte</button>
                    </div> <!-- form-group// -->
                    <p class="text-center">Vous avez un compte ? <a href="{{ path('security_login') }}">Connexion</a> </p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}