<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="PHP_CodeSniffer" xsi:noNamespaceSchemaLocation="phpcs.xsd">
    <description>The coding standard for PHP_CodeSniffer itself.</description>

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <rule ref="PSR1"/>
    <rule ref="PSR12"/>
    <exclude-pattern>/bin</exclude-pattern>
    <exclude-pattern>/config</exclude-pattern>
    <exclude-pattern>/docs</exclude-pattern>
    <exclude-pattern>/fictures</exclude-pattern>
    <exclude-pattern>/public</exclude-pattern>
    <exclude-pattern>/templates</exclude-pattern>
    <exclude-pattern>/tests</exclude-pattern>
    <exclude-pattern>/translations</exclude-pattern>
    <exclude-pattern>/var</exclude-pattern>
    <exclude-pattern>/vendor</exclude-pattern>
    <file>src</file>

</ruleset>