{% extends "base.html.twig" %}
{% block title %}Snowtrick / Enregistrement{% endblock %}
{% block body %}
    <div class="container-fluid register-container album py-5 bg">
        <div class="row">
            <div class="col-lg-6 col-md-8 register-form-1">
                <h3>Enregistrement</h3>
                {{ include("security/register/_formSecurity.html.twig", { form: registrationForm}) }}
            </div>
        </div>
    </div>
{% endblock %}