<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 animated hiding" data-animation="fadeInUp">
                <ul class="social list-inline">
                    <li class="list-inline-item">
                        <a class="facebook" href="http://www.facebook.com" title="Facebook">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="twitter" href="http://www.twitter.com" title="Twitter">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="linkedin" href="http://www.linkedin.com" title="LinkedIn">
                            <i class="fa fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                </ul>
                <p class="copyright">
                    Created by <a href="http://www.twitter.com/siggwer">@siggwer</a> &middot;
                    Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a> &middot;
                    Based on <a href="http://getbootstrap.com/">Bootstrap v4</a> &middot;
                    Icons by <a href="http://fontawesome.io/">Font Awesome</a> &middot;
                    <a href="http://www.github.com/siggwer/snow">GitHub</a> &middot;
                </p>
            </div>
        </div>
    </div>
</footer>