{% extends "base.html.twig" %}

{% block title %}Snowtrick / Accueil{% endblock %}

{% block body %}
    <div id="home" class="jumbotron text-center">
            <h1 class="jumbotron-heading">Les meilleurs tricks</h1>
            <p><a class="btn btn-primary btn-lg" href="#tricks" role="button">Voir les tricks &raquo;</a></p>
    </div>
    <div class="container-fluid album py-5 bg-light">
        {% for message in app.flashes("success") %}
            {{ include("flash_message/_success_flash.html.twig") }}
        {% endfor %}
    <div class="row" id="tricks">
        {{ include("trick/list.html.twig", { tricks: tricks }) }}
    </div>
    <div class="row mt-4">

        <div class="col-12 text-center">
            <button class="btn btn-info" id="load-more">Load more</button>
            <a href="{{ path("trick_add") }}" class="btn btn-primary">Ajouter un trick</a>
        </div>
    </div>
    </div>
    <div id="scrollUp">
        <a href="#top"><img src="images/to_top.png"/></a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            var page = 1;

            $("#load-more").on("click", function () {
                page++;

                $.ajax({
                    url: "/trick/list",
                    data: { page: page },
                    success: function (html) {
                        $("#tricks").append(html);
                    }
                });
            })
        })
    </script>
    <script>
        jQuery(function(){
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 200 ) {
                        $('#scrollUp').css('right','10px');
                    } else {
                        $('#scrollUp').removeAttr( 'style' );
                    }

                });
            });
        });
    </script>
{% endblock %}