{% extends "base.html.twig" %}

{% block body %}
    <div class="row" id="tricks">
        {{ include("trick/list.html.twig", { tricks: tricks }) }}
    </div>
    <div class="row mt-4">

        <div class="col-12 text-center">
            <button class="btn btn-info" id="load-more">Load more</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            var page = 1;

            $("#load-more").on("click", function () {
                page++;

                $.ajax({
                    url: "/trick/list",
                    data: { page: page },
                    success: function (html) {
                        $("#tricks").append(html);
                    }
                });
            })
        })
    </script>
{% endblock %}