{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="home" class="page overlay">
        <div class="container">
            <div class="content cover text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="mt-0 mb-0 animated hiding" data-animation="fadeIn" data-delay="600">Les meilleurs tricks.</h1>
                        <br>
                        <a class="mt-0 mb-4 btn btn-blue nav-external animated hiding" data-animation="fadeIn" data-delay="900" href="#tricks">Voir les tricks</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
    <div class="row" id="tricks">
        {{ include("trick/list.html.twig", { tricks: tricks }) }}
    </div>
    <div class="row mt-4">

        <div class="col-12 text-center">
            <button class="btn btn-info" id="load-more">Load more</button>
            <a href="{{ path("trick_add") }}" class="btn btn-primary">Ajouter un trick</a>
        </div>
    </div>
    </div>
    <div id="scrollUp">
        <a href="#top"><img src="images/to_top.png"/></a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            var page = 1;

            $("#load-more").on("click", function () {
                page++;

                $.ajax({
                    url: "/trick/list",
                    data: { page: page },
                    success: function (html) {
                        $("#tricks").append(html);
                    }
                });
            })
        })
    </script>
    <script>
        jQuery(function(){
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 200 ) {
                        $('#scrollUp').css('right','10px');
                    } else {
                        $('#scrollUp').removeAttr( 'style' );
                    }

                });
            });
        });
    </script>
{% endblock %}