{% extends 'base.html.twig' %}
{% block title %}Snowtrick / Erreur{% endblock %}
{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Oops, une erreur est survenue !</h1>
            <p class="lead">{{ status_text }}</p>
        </div>
    </div>
{% endblock %}