<div id="picture-{{ form.vars.name }}" class="">
    <div class="input-group-prepend">
    </div>
        {{ form_widget(form)}}
    <div class="input-group-append">
        <button type="button"
                class="btn btn-outline-danger remove-picture"
                data-target="#picture-{{ form.vars.name }}">
            <i class="fa fa-remove"></i>
        </button>
    </div>
</div>

<script src="{{ asset('js/input_custom_file.js') }}"></script>

